page-packages {

.light-color{
    background-color:#D6D5D1 ;
    text-align: center;
}
.center-text {
   text-align: center;
   margin:10px;
}
.img-card {
   width:50px;
   height: 50px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    margin-left: -18px;
    border: 1px solid #fff;
}
.img-container {
margin-left:18px;
}
ion-card-title{
    text-transform: uppercase;
}
ion-spinner * {
  width: 45px;
  height: 45px;
  stroke: #444;
  fill: #222;
}
}
