<!--
  Generated template for the Packages page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{catName}}</ion-title>
   
  </ion-navbar>

  
</ion-header>


<ion-content class="light-color" padding>
 <ion-spinner *ngIf="isLoading" style="margin-top:20px;height: 100%;"></ion-spinner>

<ion-card *ngFor="let x of this.fillDataPackages" class="center-text">

  <ion-card-content>
    <ion-card-title>
      <b> {{x.name}} </b>
    </ion-card-title>
    <div class="img-container">
      <img *ngFor="let m of x.images" class="img-card" src="{{m.avatar}}" width="50" height="50" />
    </div>
  </ion-card-content>
  <button *ngIf="x.images[0]" ion-button full clear (click)="navToUsers(x.name,x.id)">view all+</button>
  <button *ngIf="!x.images[0]" ion-button full clear disabled>no users here!</button>
</ion-card>







</ion-content>
