page-home {


  .hh{display:block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
    position: absolute;
    right:15px;
    top : -60px;
}

.image{
height: 80%;
width: 100%;
}

.start{
   background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: no-scroll;
  display: -webkit-flex;
    display: flex;




}

scroll-content{
	background-color: rgb(41, 221, 171);

}

ion-scroll.item{
	height: 100%;
}

ion-col{
	padding: 5px;
	color: #FFF;
	}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	border: 2px solid #E9CF97;
	margin:0 auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;

}

.text{
	background-color:#E9CF97;
	display:table;
	font-size:17px;
	margin:0 auto;
	margin-top: 6px;
	border-radius:10px;
	width:100px;
	text-align:center;
}

.sl{
  width:100%;

  position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 text-align: center;

 background-color: #D7D6D2;

}


}
