<ion-header>
  <ion-navbar color="primary">
    <ion-title  >Weddingram</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce class="start" [style.backgroundImage]="'url(' + annUrl + ')'" >

   

<div class="sl" >
  <button *ngIf = "!errorWithServer" ion-button color="secondary" large (click)="navToCategories()" class="hh" >GO</button>

  <p *ngIf = "!errorWithServer" style="margin-bottom:0px; font-size:20px;"> SPONSERS</p>
   <ion-slides  spaceBetween="30px"  slidesPerView={{width}} style="padding:10px;">

  <ion-slide  *ngFor="let x of adsUser">
    <div>
      <div class="image-cropper">
        <img src="{{x.avatar}}" class="rounded" />
      </div>
      <span class="text">{{x.show_name}}</span>
    </div>  </ion-slide>
    

</ion-slides>
</div>
<h3 style="text-align: center" *ngIf = "errorWithServer">Couldnot connect to server</h3>
</ion-content>


