page-categories {

  ion-card {
    position: relative;
    
    padding:0;
    margin:0;
    cursor:pointer;
    padding: 0px !important;
    text-align: left;
  }

    .card-image{
      padding: 0px !important;
         height: 65px;
         padding:0;
          margin:0;
        -webkit-filter: blur(0.5px);
        -moz-filter: blur(0.5px);
        -o-filter: blur(0.5px);
        -ms-filter: blur(0.5px);
        filter: blur(0.5px);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
   
    
  }

     .card-image:after{
      content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 100%);
    opacity:0.5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    
  }

 .card-title {
    position: absolute;
    top: 35%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    left:15px;
    text-transform: uppercase;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .light-color{
    background-color:#D6D5D1 ;
    padding: 0px !important;
    text-align: center;
}
ion-spinner * {
  width: 45px;
  height: 45px;
  stroke: #444;
  fill: #222;
}

}
