<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Categories</ion-title>

    <ion-buttons end>

</ion-buttons>


    
  </ion-navbar>

</ion-header>

<ion-content class="light-color">
<ion-spinner *ngIf="isLoading" style="margin-top:25px;height: 100%;"></ion-spinner>

    <ion-card (click)="navToPackages(m.name,m.id)" *ngFor="let m of fillData">
    <ion-item class="card-image" [style.backgroundImage]="'url(' + m.icon + ')'"></ion-item>
    <div class="card-title">{{m.name}}</div>

  </ion-card>

</ion-content>
