// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #242424,
  secondary:  #880e4f,
  danger:     #E0B668,
  light:      #D6D5D1,
  dark:       #222
);


$card-wp-title-font-size :10rem;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$searchbar-ios-background-color:color($colors, primary);
$searchbar-ios-input-background-color:color($colors, primary);
$searchbar-ios-input-text-color:#fff;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$searchbar-md-background-color:color($colors, primary);
$searchbar-md-input-background-color:color($colors, primary);
$searchbar-md-input-text-color:#fff;
$searchbar-md-input-box-shadow:0;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
