<!--
  Generated template for the Users page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar  color="primary">
    <ion-title>{{passedData.catName}} - <small>{{passedData.packName}}</small></ion-title>

    <ion-buttons end>
<button  ion-button icon-only [color]="searchColor"   (click)="toggleSearch()">
<ion-icon name="search" ></ion-icon>
</button>
</ion-buttons>

  </ion-navbar>

<ion-searchbar style="height: 50px;padding:0 30px;" *ngIf="search" color="primary"
  [(ngModel)]="searchKeyword"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>

</ion-header>


<ion-content class="light-color">
<ion-spinner *ngIf="isLoading" style="margin-top:20px;height: 100%;"></ion-spinner>
 <ion-row style="height:35px;background-color:#E0B668" color="danger">
    <ion-title >{{info}}</ion-title>
</ion-row>

  <div *ngIf="this.filterData" class="flex-container">

    <div class="user-container"  *ngFor="let m of this.filterData">
      <ion-grid>

        <ion-row class="first-row">
          <ion-col class="img-cont" [style.backgroundImage]="'url(' + m.avatar + ')'">
          </ion-col>
        </ion-row>

        <ion-row class="second-row">
          <ion-col style="position:relative">
            <button ion-button color="danger" round full style="height:20px;text-align:center;padding :10px 0;color:white">{{m.show_name}}</button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>



  </div>



</ion-content>