page-users {

        ion-grid {
        padding: 0;
        height: 100%;
    }
 
   .first-row{
       flex:4;
       text-align: center;
       align-content: center;
       position: relative;
   }
       .second-row{
       flex:1;
       justify-content: center;
   }
    .img-cont{
      border-radius: 100%;
      width:80%;
      border:2px solid #E0B668;
      height: 100%;
      padding:1%;
    //  margin-left: 10%;
    //   display: table-cell; 
    position: absolute;
    top:0;
    bottom: 0;
    left:10%;

    //   background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/46B2/production/_86489081_-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    
      
   }

       .name-label {
      background-color: orange;
      margin-top:5px;
      border-radius: 15px;
      color:#fff;
      text-align: center;
    font-size: 10px; 
   
     
      

   }

 

    .user-container{
        margin:0;
        padding:0;
        margin-bottom: 20px;
        width: 100px;
        height:100px;
        display: flex;
         flex-direction: column;
   
        

    }
  

         .user-shape img{

      
        
        
        border-radius: 100%;
      

    }

    .flex-container {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.light-color{
    background-color:#D6D5D1 ;
    text-align: center;
}
 ion-spinner * {
  width: 45px;
  height: 45px;
  stroke: #444;
  fill: #222;
} 
small{
    text-transform: uppercase;
}
}
